html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 14px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.Bar {
  margin-right: 0.5em;
}

@media (min-width: 1080px) {
  .Header-line-height {
    line-height: 65px;
  }
  .Header-user-account {
    width: 38px;
    height: 38px;
  }
  .search-button {
    margin: 0px 0.5rem 0px 0px;
    padding: 5px;
  }
  .search-button::before {
    width: 24px;
    height: 24px;
    margin: 0px;
  }
}

@media (max-width: 1079px) {
  .Header-mobile {
    display: none;
  }
}

.Header-line-height {
  line-height: 58px;
}
